/* @import "core/reset";
@import "core/variables";
@import "components/links";
@import "layout/header";
@import "layout/block2";
@import "layout/block3";

@import "layout/footer"; */
@mixin images() {
  background-size: 50%;
  background-color: #d7b9ff;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tilt Neon", cursive;
}

body {
  height: 100vh;
  background-image: url("../images/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  font-size: 16px;
}

.div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Tilt Neon", cursive;
  border-radius: 2rem;
  padding: 0.4em;
  color: aqua;
  text-shadow: 0 0 2px aqua, 0 0 4px aqua, 0 0 6px aqua, 0 0 10px #bc13fe,
    0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  animation: flicker 3s linear infinite;

  @media all and (min-width: 768px) {
    font-size: 58px;
  }
}

.boxes {
 /*  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right:  20%;
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right:  10%;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20%;
    margin-right:  20%;
  }
}

.onebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 120px;
}

.spanlogo {
  display: none;
  @media all and (min-width: 768px) {
    display: flex;
    gap: 20px;
  }
}

a {
  text-decoration: none;
}

p {
  height: 12px;
  @media all and (min-width: 768px) {
    height: 30px;
  }
}

.dev_logo,
p {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;

  text-shadow: 0 0 2px aqua, 0 0 4px aqua, 0 0 6px aqua, 0 0 10px #1313fe,
    0 0 45px #1313fe, 0 0 55px #1313fe, 0 0 70px #1313fe, 0 0 80px #1313fe;
  @media all and (min-width: 768px) {
    font-size: 14px;
  }
}

.dev_logo {
  margin-bottom: 12px;
}

.dev_logo:hover {
  color: rgb(13, 4, 183);
}

.gamebox {
  border: 0.2rem solid #fff;
  border-radius: 20px;
  padding: 0.4em;
  color: aqua;
  text-transform: uppercase;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  width: 60px;
  height: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
 
  @media all and (min-width: 768px) {
    width: 80px;
    height: 80px;
  }
  @media all and (min-width: 1200px) {
    width: 100px;
    height: 100px;
  }
}

.gamebox:hover {
  transform: scale(1.05, 1.05);
  transition: transform 1s;
}

.gamebox:not(:hover) {
  transition: transform 1s;
}

/* @media all and (max-width: 768px) {
		width: 200px;
		height: 200px;
	} */
.tictactoe {
  background-image: url("../images/game_logo_0000_Objeto-inteligente-vectorial.png");
  @include images();
}

.circle {
  background-image: url("../images/game_logo_0014_Objeto-inteligente-vectorial.png");
  @include images();
}

.memo {
  background-image: url("../images/game_logo_0002_Objeto-inteligente-vectorial.png");
  @include images();
}

.rockpaperscissors {
  background-image: url("../images/game_logo_0015_Objeto-inteligente-vectorial.png");
  @include images();
}

.whacamole {
  background-image: url("../images/game_logo_0001_Objeto-inteligente-vectorial.png");
  @include images();
}

.randomcolor {
  background-image: url("../images/game_logo_0013_Objeto-inteligente-vectorial.png");
  @include images();
}

.flipacoin {
  background-image: url("../images/game_logo_0003_Objeto-inteligente-vectorial.png");
  @include images();
}

.calculator {
  background-image: url("../images/game_logo_0012_Objeto-inteligente-vectorial.png");
  @include images();
}

.rollthedice {
  background-image: url("../images/game_logo_0004_Objeto-inteligente-vectorial.png");
  @include images();
}
.loading {
  background-color: rgb(87, 54, 255);

}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    //text-shadow: none;
    opacity: 0.99;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}
